.env
.vscode/launch.json
.DS_Store
.bak*
.env
.idea
.terraform\*
.terraform*
.vscode
.vscode/launch.json
*.plan
*.out
*.key
*.tfstate
*.tfstate.*backup
*.sw[mnop]
*.log
__pycache__
.sf/*
.sfdx/*
pmd-bin-*/*
# Cache directories for service monitoring
**/cache/
*.json.tmp