apiVersion: v1
kind: Service
metadata:
  name: statuspage-exporter
  namespace: statuspage-exporter
  labels:
    app.kubernetes.io/name: statuspage-exporter
    app.kubernetes.io/component: monitoring
    app.kubernetes.io/managed-by: manual
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9001
      protocol: TCP
      targetPort: 9001
  selector:
    app.kubernetes.io/name: statuspage-exporter

